<h1 class="text-4xl mb-8">Sign up</h1>
<%= form_with model: @user, url: sign_up_path do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <br>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <br>
  <%= render "shared/form_submit_button", form: form, title: "Sign up" %>
  <div class="text-center">
    <%= link_to "Have an account? Sign in instead.", sign_in_path %>
  </div>
<% end %>