<% shared_classes = "text-white py-4 block pl-10 pr-12 hover:text-pink duration-100 border-t border-t-neutral-500" %>
<% last_child_classses = "#{shared_classes} border-b border-b-neutral-500" %>
<nav class="bg-black h-screen min-w-[210px] overflow-y-scroll flex flex-col">
  <h1><%= link_to "Gumroad", admin_path, class: "text-white font-medium uppercase text-3xl my-8 py-5 text-center block" %></h1>
  <div class="space-y-16 flex-1">
    <ul class="">
      <li><%= link_to "Home", admin_path, class: shared_classes + " #{'text-pink' if request.path == admin_path}" %></li>
      <li><%= link_to "Products", products_path, class: shared_classes + " #{'text-pink' if request.path == products_path}" %></li>
      <!--<li><%#= link_to "Collaborators", "#", class: shared_classes %></li>-->
      <!--<li><%#= link_to "Checkout", "#", class: shared_classes %></li>-->
      <li><%= link_to "Emails", "#", class: last_child_classses %></li>
      <!--<li><%#= link_to "Workflows", "#", class: shared_classes %></li>-->
      <!--<li><%#= link_to "Sales", "#", class: shared_classes %></li>-->
      <!--<li><%#= link_to "Analytics", "#", class: last_child_classses %></li>-->
      <!--<li><%#= link_to "Payouts", "#", class: last_child_classses %></li>-->
    </ul>
    <ul class="">
      <li><%= link_to "Discover", root_path, class: shared_classes %></li>
      <li><%= link_to "Library", "#", class: last_child_classses %></li>
    </ul>
  </div>
  <ul class="mt-16">
    <li><%= link_to "Help", "https://help.gumroad.com/", class: shared_classes, target: "_blank" %></li>
    <li><%= link_to "Setings", settings_path, class: shared_classes %></li>
    <li class="text-left">
      <%= button_to sign_out_path, method: :delete, class: "text-left", form: {class: shared_classes }, data: { turbo: false } do %>
      <span><%= current_user.email %></p>
      <span class="text-sm">Sign out</span>
      <% end %>
    </li>
  </ul>
</nav>