<%= render "admin/header", title: "Settings" do %>
  <%= button_to "Sign out", sign_out_path, method: :delete, class: "text-nowrap border border-black py-4 px-5 rounded-md duration-100 hover:shadow-linkButton inline-block hover:-translate-x-1 hover:-translate-y-1", form: {class: "" }, data: { turbo: false } %>
<% end %>

<div class="p-12 max-w-2xl">
  <img src="<%= current_user.avatar_url %>" class="w-[50px] rounded-full mb-5" />
  <%= form_with model: current_user, url: update_settings_path, method: :patch do |form| %>
    <%= render "shared/form_errors", form: form %>
    <div>
      <%= form.label :username %>
      <%= form.text_field :username %>
    </div>
    <div class="mt-1">
      <span>View your profile at: </span><%= link_to profile_url(current_user.username), profile_url(current_user.username), class: "underline", target: "_blank" %>
    </div>
    <br>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <br>
    <label class="relative inline-flex items-center cursor-pointer">
      <%= form.check_box :is_tipping_enabled, class: "sr-only peer"%>
      <div class="w-11 h-6 bg-white rounded-full border border-black peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-black after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-black after:border-black after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-pink"></div>
      <span class="ms-3 text-base text-gray-900">Enable Tipping</span>
    </label>
    <br>
    <br>
    <%= render "shared/form_submit_button", form: form, title: "Save changes" %>
  <% end %>
</div>