<%= link_to product_page_path(username: product.user.username, product_slug: product.slug),
  class: "border border-black rounded-md duration-100 hover:shadow-linkButton inline-block bg-white" do %>
  <div class="flex flex-col h-full">
    <img src="<%= product.image_url %>" class="rounded-se-md rounded-ss-md" />
    <div class="p-4 border-black border-b flex-grow flex flex-col">
      <div class="text-xl mb-auto"><%= product.name %></div>
      <div class="flex space-x-1 items-center mt-5">
        <img src="<%= product.user.avatar_url %>" class="w-[20px] rounded-full" />
        <div class="text-sm truncate max-w-fit"><%= product.user.display_name %></div>
      </div>
      <div class="mt-4 flex items-center space-x-2">
        <svg class="fill fill-black" xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/></svg>
        <span><%= product.ratings_average.to_d %> (<%= product.reviews.count %>)</span>
      </div>
    </div>
    <div class="p-4">
      <span class="bg-pink text-black border border-black rounded-md px-3 py-1">$<%= number_with_delimiter(product.price) %></span>
    </div>
  </div>
<% end %>