<header class="px-7 py-7 border-b border-black w-full">
  <div class="max-w-6xl mx-auto">
    <div class="w-full justify-between items-center flex sm:flex-row flex-col space-y-4 sm:space-y-0">
      <h1 class="text-4xl font-semibold">
        <%= link_to "GUMROAD", root_path %>
      </h1>
      <% if user_signed_in? %>
        <div class="space-x-5 flex items-center">
          <%= render "shared/link_button", title: "Library", path: admin_path, variant: "outline" %>
          <%= link_to settings_path do %>
            <img src="<%= current_user.avatar_url %>" class="w-[50px] rounded-full" />
          <% end %>
        </div>
      <% else %>
        <div class="space-x-3">
          <%= render "shared/link_button", title: "Login", path: sign_in_path, variant: "outline" %>
          <%= render "shared/link_button", title: "Start selling", path: sign_up_path, variant: "black" %>
        </div>
      <% end %>
    </div>
    <div class="mt-5 -mb-2 py-4 px-2 -mx-2 group  flex flex-wrap justify-center md:justify-start">
      <%= render "nav_link", path: root_path, title: "All", is_selected: params[:category].blank? %>
      <% @categories.each do |category| %>
        <%= render "nav_link", path: root_path(category: category.slug), title: category.name, is_selected: params[:category] == category.slug %>
      <% end %>
    </div>
    <% if @category.present? %>
      <h2 class="mt-4 text-2xl"><%= @category.name %></h2>
    <% end %>
  </div>
</header>

<section class="px-7 py-5 min-h-[calc(100vh-185px)]">
  <% if @category.blank? %>
    <h2 class="max-w-6xl mx-auto mt-4 mb-5 text-2xl">Staff Picks</h2>
  <% end %>
  <div class="grid grid-cols-1 xs:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-5 max-w-6xl mx-auto">
    <% @products.each do |product| %>
      <%= render "product", product: product %>
    <% end %>
  </div>
</section>

<footer class="bg-black px-7 py-9 mt-10">
  <p class="text-white text-center text-2xl">With Gumroad, anyone can earn their first dollar online.</p>
</footer>