
<div class="p-10">
  <div class="mb-5">
    <%= render "shared/link_button", title: "Back", path:  product_page_path(username: @user.username, product_slug: @product.slug), variant: "outline" %>
  </div>

  <div class="bg-white mt-2 border border-black rounded-md w-full max-w-4xl mx-auto">
    <div class="p-6 border-b border-b-black">
      <h1 class="text-4xl">Checkout</h1>
    </div>
    <div class="flex md:flex-row flex-col">
      <div id="left" class="flex-1">
        <div class="border-b border-black flex items-center md:flex-row flex-col">
          <div class="w-full md:w-auto p-6 md:border-b-0 border-black">
            <p class="text-xl"><%= @product.name %></p>
            <%= link_to profile_path(@product.user.username), class: "underline", target: "_blank" do %>
              <%= @product.user.display_name %>
            <% end %>
          </div>
        </div>
        <div class="py-7 px-6 flex items-center justify-between ">
          <div class="font-medium">Total</div>
          <div>$<%= @product.price %></div>
        </div>
      </div>
      <div id="right" class="md:w-[300px] md:border-t-0 border-t md:border-l border-black p-6">
        <h2 class="text-lg font-medium">Pay with</h2>
      </div>
    </div>
  </div>
  <div class="text-center mt-5">
    <p>Powered by <span class="font-semibold uppercase">Gumroad</span></p>
  </div>
</div>