<div class="mt-10 pb-10 border-b border-black px-5">
  <div class="max-w-4xl w-full mx-auto flex items-center justify-between flex-col md:flex-row space-y-3 md:space-y-0">
    <h1 class="text-2xl"><%= @user.display_name %></h1>
    <%= form_with model: @follower, url: subscribe_path(username: @user.username), method: :post, class: "flex items-center space-x-3" do |form| %>
      <div>
        <%= form.email_field :email, placeholder: "Email address", required: true %>
      </div>
      <div class="-mb-6">
        <%= render "shared/form_submit_button", form: form, title: "Subscribe" %>
      </div>
    <% end %>
  </div>
</div>

<% if @products.present? %>
  <div class="mt-10 pb-10 border-b border-black px-5">
    <div class="max-w-4xl mx-auto flex items-center justify-between w-full">
      <div class="w-full">
        <h2 class="text-2xl mb-4">Products</h2>
        <div class="border border-black rounded-md divide-y divide-black">
          <% @products.each do |product| %>
            <%= link_to product.name, product_page_path(username: @user.username, product_slug: product.slug), class: "hover:underline px-5 py-6 block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @posts.present? %>
  <div class="mt-10 pb-10 border-b border-black px-5">
    <div class="max-w-4xl mx-auto flex items-center justify-between w-full">
      <div class="w-full">
        <h2 class="text-2xl">Posts</h2>
      </div>
    </div>
  </div>
<% end %>
<div class="text-center mt-10">
  <p>Powered by <span class="font-semibold uppercase">Gumroad</span></p>
</div>