<%= render "admin/header", title: "Create your email", link_info: { path: emails_path, title: "Back to Emails", variant: "outline"} %>
<div class="flex w-full h-screen">
  <div class="p-10 w-full h-screen overflow-y-scroll">
    <%= form_with model: @post, url: posts_path, method: :post do |form| %>
      <%= render "shared/form_errors", form: form %>
      <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
      <br>
      <div>
        <%= form.label :body %>
        <%= form.text_area :body, rows: 10 %>
      </div>
      <br>
      <%= render "shared/form_submit_button", form: form, title: "Send to #{pluralize(current_user.followers_count, "follower")}"  %>
    <% end %>
</div>