<%= render "admin/header", title: "Products", link_info: { path: new_product_path, title: "New Product", variant: "pink"} %>

<div class="p-12">
  <% if @products.present? %>
    <div class="">
      <div class="flow-root">
        <div class="-my-2 overflow-x-auto">
          <div class="inline-block min-w-full align-middle">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="">
                <tr class="">
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Sales</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Revenue</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Price</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <% @products.each do |product| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-900 sm:pl-0">
                    <div class="font-medium"><%= product.name %></div>
                    <%= link_to product_page_url(username: current_user.username, product_slug: product.slug), product_page_url(username: current_user.username, product_slug: product.slug) %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4">
                    <%= link_to "0", "#sales", class: "underline" %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4">
                    $0
                  </td>
                  <td class="whitespace-nowrap px-3 py-4">
                    $<%= product.price %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4">
                    <div class="flex items-center space-x-2">
                      <% if product.is_published %>
                        <span class="inline-block h-4 w-4 rounded-full bg-black"></span>
                        <span>Published</span>
                      <% else %>
                        <span class="inline-block h-4 w-4 rounded-full bg-transparent border border-black"></span>
                        <span>Unpublished</span>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
                <!-- More people... -->
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left font-semibold text-gray-900 sm:pl-0">Totals</th>
                  <th scope="col" class="px-3 py-3.5 text-left font-semibold text-gray-900">0</th>
                  <th scope="col" class="px-3 py-3.5 text-left font-semibold text-gray-900">100</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>

  <% else %>
    <p class="text-lg w-full mt-24 text-center px-5">You don't have any products</p>
  <% end %>
</div>