<!DOCTYPE html>
<html>
  <head>
    <title>Gumroad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤖</text></svg>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  </head>

  <% if is_consumer_side? %>
    <body class="<%= bg_color %>">
      <%= yield %>
    </body>
  <% else %>
    <% if user_signed_in? %>
      <body class="flex item-start <%= bg_color %>">
        <%= render "shared/flash" %>
        <%= render "shared/sidenav" %>
        <main class="flex-1 min-w-[1000px] overflow-y-scroll h-screen">
          <%= yield %>
        </main>
      </body>
    <% else %>
      <body class="p-5 <%= bg_color %>">
        <main class="max-w-md mx-auto w-full p-5">
          <%= render "shared/flash" %>
          <h1><%= link_to "Gumroad", admin_path, class: "font-medium uppercase text-3xl my-8 py-5 text-center block" %></h1>
          <%= yield %>
        </main>
      </body>
    <% end %>
  <% end %>
</html>
